{% include "header.html" %}

<header
  class="masthead post-hero"
  style="background-image: url('https://images.unsplash.com/photo-1423661639045-7e9ef2e5c9e8?w=1920&q=80')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Contact Me</h1>
          <span class="subheading">Have questions? I have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-5 pb-5">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="content-card">
          <p>
            Want to collaborate, ask about a post, or discuss a project? Send a
            message and I'll get back to you as soon as I can.
          </p>
          <form
            id="contactForm"
            action="mailto:engineerhashimi9@gmail.com?subject=Contact From Hashimi Blog"
            method="post"
            enctype="text/plain"
          >
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="Your name"
                required
              />
              <label for="name">Name</label>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="Your email"
                required
              />
              <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="Your message"
                required
                style="height: 10rem"
              ></textarea>
              <label for="message">Message</label>
            </div>
            <button class="btn btn-primary" type="submit">
              Send message <i class="fas fa-paper-plane ms-1"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
