{% include "header.html" %}
{% from "includes/editor.html" import editor_assets, rich_editor %}
{% from "bootstrap5/form.html" import render_field %}

<header
  class="masthead post-hero"
  style="background-image: url('https://images.unsplash.com/photo-1432828796061-9f32687c2be8?w=1920&q=80')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <span class="hero-badge d-inline-block mb-3">Editor</span>
          {% if is_edit %}
          <h1>Edit Post</h1>
          {% else %}
          <h1>New Post</h1>
          {% endif %}
          <span class="subheading">Craft your next article</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-5 pb-5">
  <div class="container px-4 px-lg-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <div class="content-card">
          <form method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.title) }}
            {{ render_field(form.subtitle) }}
            {{ render_field(form.img_url) }}
            {{ rich_editor(form.body, mode='full', label='Blog Content') }}
            {{ form.submit(class_='btn btn-primary w-100 mt-2') }}
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{{ editor_assets() }}
{% include "footer.html" %}
