{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
          <span class="meta"
            >Posted by
            <a href="#">{{ post.author.name }}</a>
            on {{ post.date }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body|safe }}
        <!--TODO: Only show Edit Post button if user id is 1 (admin user) -->
        {% if current_user.id==1 %} {% if current_user.id==1 %} {% endif %} {%
        endif %}

        <!-- Comments Area -->
        <!-- TODO: Add a CKEditor for commenting below -->
        <hr class="my-4" />
        <div class="comment">
          <form action="{{url_for('save_comment',p=post.id)}}" method="post">
            {% from 'bootstrap5/form.html' import render_form %}
            <!-- TODO: Show all the comments on a post -->
            {{ ckeditor.load() }} {{ ckeditor.config(name='body') }} {{
            render_form(comment_form, novalidate=True, button_map={"submit":
            "primary"}) }}
          </form>
          <ul class="commentList">
            {% for comment in all_comments %}
            <li>
              <div class="commenterImage">
                <img src="{{ gravatar(comment.author.email) }}" />
              </div>

              <div class="commentText">
                {{comment.text|safe}}
                <span class="date sub-text"
                  >{{comment.author.name | title}}</span
                >
              </div>
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}
